html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

/* Footer */

footer {
  float: none;
  background-color: rgba(245, 245, 245, 0.658);
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  margin-top: 7%;
  font-family: 'Lato', Arial, sans-serif;
  font-size: large;
}

.footerLink {
  color: black;
}

.footerCopyright, .tbfooter, .footerDonation {
  margin: 1%;
}

.footerDonationLink {
  text-decoration: none;
  color: black;
}

.donation-icon {
  padding-right: 5px;
  color: #5f5f5f;
}

@media screen and (max-width: 475px) {
  footer {
    justify-content: space-around;
  }
  .footerCopyright, .tbfooter, .footerDonation {
    margin: 2%;
  }
}

@media screen and (max-width: 700px) {
  .tbfooter {
    order: 1;
  }
  .footerCopyright {
    order: 2;
  }
  footer {
    flex-direction: column;
    font-size: medium;
  }
}

/* Portrait */

.portrait {
  width: 330px;
  display: flex;
  margin: auto;
  margin-top: 7%;
  box-shadow: 0 4px 8px 0 black;
  background: transparent;
}

.mail-container {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 1%;
}

.mail {
  display: flex;
  margin: auto;
  background: lightgray;
  padding: 10px;
  font-size: large;
  font-weight: 550;
  border: solid lightgray 10px;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.mail-container a {
  text-decoration: none;
}

.mail-envelope {
  font-size: large;
  padding-right: 5px;
}

.mail:hover {
  background-color: rgb(19, 18, 18);
  color: white;
  border: solid rgb(19, 18, 18) 10px;
  border-radius: 20px;
}

@media screen and (max-width: 1300px) {
  .portrait {
    margin-top: 10%;
  }
  .mail-container {
    margin-top: 2%;
  }
}

@media screen and (max-width: 800px) {
  .portrait {
    margin-top: 17%;
  }
}

@media screen and (max-width: 500px) {
  .portrait {
    margin-top: 25%;
  }
  .mail-container {
    margin-top: 3%;
  }
}

@media screen and (max-width: 475px) {
  .portrait {
    margin-top: 25%;
    width: 270px;
  }
  .mail, .mail-envelope {
    font-size: medium;
  }
}

@media screen and (max-width: 350px) {
  .portrait {
    margin-top: 30%;
  }
}

/* Social Media Buttons */

.buttons {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 7%;
}

.btn {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 25px;
  background: rgb(221, 221, 221);
  border-radius: 50%;
  box-shadow: 0 5px 15px -5px black;
  color: black;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.btn i {
  line-height: 100px;
  font-size: 52px;
  transition: 0.2s linear;
}

.btn:hover i {
  transform: scale(1.3);
  color: whitesmoke;
}

.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: rgb(19, 18, 18);
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    left: -10%;
    top: -10%;
  }
}

@media screen and (max-width: 750px) {
  .buttons {
    margin-top: 10%;
  }
  .btn {
    width: 70px;
    height: 70px;
    margin: 25px;
  }
  .btn i {
    line-height: 70px;
    font-size: 36px;
  }
}

/* Themes */

.themes-tbContent-title {
  text-align: center;
  font-family: sans-serif;
}

.themes-tbContent-title:before {
  display: inline-block;
  margin: 0 20px 8px 0;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: grey;
  width: 20%;
}

.themes-tbContent-title:after {
  display: inline-block;
  margin: 0 0 8px 20px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: grey;
  width: 20%;
}

.themes-container {
  background-color: lightgrey;
  margin-top: 100px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding: 5%;
  padding-top: 1%;
  padding-bottom: 3%;
  box-shadow: 0px 4px 16px 0px black;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 80%;
  font-size: 16px;
  padding: 8px 16px 8px 7px;
  border: 1px solid whitesmoke;
  border-radius: 25px;
  display: flex;
  margin: auto;
  margin-bottom: 12px;
  background: whitesmoke;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f6f6f6;
}

#myUL li a {
  border-bottom: 1px solid #ddd;
  margin-top: -1px;
  /* Prevent double borders */
  padding: 12px;
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Lato', Arial, sans-serif;
  color: black;
  display: block
}

#myUL li .myUL-last {
  border-bottom: 0px solid #ddd;
}

#myUL li:hover:not(.header) {
  background-color: #eee;
  border-radius: 10px;
}

.themes-id {
  opacity: 0;
  margin-bottom: 3%;
}

.themes-container-content {
  background-color: white;
  margin-top: 100px;
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  box-shadow: 0px 4px 16px 0px black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.arrow-icon {
  padding-right: 5px;
}

.themes-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.themes-content-table-container {
  overflow-x: auto;
}

.themes-content-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.themes-content-table, .themes-content-table th, .themes-content-table td {
  border: 1px solid #ddd;
}

.themes-content-table th, .themes-content-table td {
  padding: .75rem;
}

.table-heading {
  color: #fff;
  background-color: #343a40;
}

.themes-picture{
  border: solid 1px black;
  height: auto;
  width: 50%;
}

@media screen and (max-width: 1200px){
  .themes-picture{
    width: 75%;
  }
}

@media screen and (max-width: 850px) {
  .themes-tbContent-title:before {
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    width: 0;
  }
  .themes-tbContent-title:after {
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    width: 0;
  }
  .themes-container, .themes-container-content {
    margin-left: 7%;
    margin-right: 7%;
  }
  .themes-container-content {
    margin-top: 50px;
  }
  .themes-picture{
    width: 100%;
  }
}

@media screen and (max-width: 470px) {
  .themes-tbContent-title, .themes-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 370px) {
  .themes-tbContent-title {
    font-size: 1.25em;
  }
}

/* Documentaries etc. */

.documentaries-title-first {
  margin-top: 80px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.documentaries-title {
  margin-top: 40px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.collapsible-container {
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.collapsible {
  background-color: rgb(88, 86, 86);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border: solid 1px black;
}

.active, .collapsible:hover {
  background-color: rgb(59, 59, 59);
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
  background-color: whitesmoke;
}

.collapsible-object {
  height: 600px;
  width: 100%;
}

.btn-container {
  margin: 0;
}

.download-btn {
  margin-top: 5%;
  margin-bottom: 5%;
  text-decoration: none;
  color: black;
}

.download-icon {
  padding-left: 5px;
}

@media screen and (max-width: 560px) {
  .collapsible-container {
    margin-left: 7%;
    margin-right: 7%;
  }
}

/* Security Tips */

.security-h2 {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.security-p {
  font-size: 1rem;
  font-weight: normal;
  font-family: 'Reenie Beanie';
  font-size: 2rem;
}

.security-p-ul {
  padding-left: 10%;
}

.security-p-ul li {
  margin-bottom: 3%;
}

.security-ul, .security-li {
  list-style: none;
}

.security-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.security-ul .security-li .security-a {
  text-decoration: none;
  color: rgba(245, 245, 245, 0.959);
  background: #8ca3a5;
  display: block;
  height: 15em;
  width: 15em;
  padding: 1em;
  padding-top: 0.1em;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  transform: rotate(-6deg);
  transition: transform .15s linear;
  border-radius: 5px;
}

.security-ul .security-li:nth-child(even) .security-a {
  transform: rotate(4deg);
  position: relative;
  top: 5px;
  background: #99A3A4;
}

.security-ul .security-li:nth-child(3n) .security-a {
  transform: rotate(-3deg);
  position: relative;
  top: -5px;
  background: #85929E;
}

.security-ul .security-li:nth-child(5n) .security-a {
  transform: rotate(5deg);
  position: relative;
  top: -10px;
}

.security-ul .security-li {
  margin: 1.5em;
}

.security-ul .security-li .security-a:hover, .security-ul .security-li .security-a:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.security-ul {
  padding: 0;
  margin-top: 100px;
}

.modal-title{
  text-align: center;
}

/* Twitter Feed */

.twitterFeed {
  background-color: white;
  margin-top: 100px;
  margin-left: 17%;
  margin-right: 17%;
  margin-bottom: 70px;
  padding: 2%;
  box-shadow: 0px 4px 16px 0px black;
}

@media screen and (max-width: 850px) {
  .twitterFeed, .helpfulLink-container {
    margin-left: 10%;
    margin-right: 10%;
  }
}

/* Helpful Links */

.helpfulLink-site {
  padding-top: 160px;
  padding-bottom: 7%;
  margin-bottom: -7%;
  background: #dedede;
}

.helpfulLink-container {
  margin-top: -40px;
  padding: 1%;
  padding-bottom: 50px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur( 20.0px);
  -webkit-backdrop-filter: blur( 20.0px);
  border-radius: 10px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
}

.helpfulLink-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.helpfulLink-table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.helpfulLink-table td {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  border-bottom: 1px solid rgb(202, 202, 202);
}

.link-td {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.helpfulLink-table i {
  float: right;
  padding-left: 15px;
  font-size: medium;
}

.helpfulLink-table tr:hover {
  background-color: #ffffff48;
}

.helpfulLink {
  font-size: x-large;
  font-family: 'Lato', Arial, sans-serif;
  text-decoration: none;
  color: rgb(0, 22, 63);
}

@media screen and (max-width: 1650px) {
  .helpfulLink-container {
    width: 65%;
  }
}

@media screen and (max-width: 1400px) {
  .helpfulLink-container {
    width: 75%;
  }
}

@media screen and (max-width: 1200px) {
  .helpfulLink-container {
    width: 90%;
    margin-top: -70px;
  }
  .helpfulLink-site {
    background: #d2d2d2;
  }
}

@media screen and (max-width: 1000px) {
  .helpfulLink {
    font-size: large;
  }
}

@media screen and (max-width: 800px) {
  .helpfulLink-table i {
    visibility: hidden;
    padding-left: 0;
  }
}

/**/

body.modalDialog{
  overflow: hidden;
  position: fixed;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  overflow: scroll;
}

.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}

.modalDialog>div {
  width: 70%;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur( 20.0px);
  -webkit-backdrop-filter: blur( 20.0px);
  border-radius: 10px;
}

.close {
  color: #929292;
  position: absolute;
  right: -1px;
  text-align: center;
  width: 30px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12.5px;
  -moz-border-radius: 12.5px;
  border-radius: 12.5px;
}

.close i{
  font-size: 1.2em;
}

.close:hover {
  color: #1b1b1b;
}

@media screen and (max-width: 800px) {
  .modalDialog>div {
    width: 90%;
  }
}